<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Enquêtes</title>
</head>
<body>
    <h1>Liste des Enquêtes</h1>
    {% for enquete in enquetes %}
        <div>
            <p><strong>Numéro d'Enquête :</strong> {{ enquete['numEnquete'] }}</p>
            <p><strong>Titre :</strong> {{ enquete['titreEnquete'] }}</p>
            <p><strong>Description :</strong> {{ enquete['description'] }}</p>
            <p><strong>Date de Début :</strong> {{ enquete['dateDebut'] }}</p>
            <p><strong>Victime :</strong> {{ enquete['victime'] }}</p>
            <p><strong>Suspect :</strong> {{ enquete['suspect'] }}</p>
            <p><strong>Témoin :</strong> {{ enquete['temoin'] }}</p>
            <p><strong>Preuve :</strong> {{ enquete['preuve'] }}</p>
            <p><strong>Inspecteur :</strong> {{ enquete['inspecteur'] }}</p>
            <p><strong>Statut :</strong> {{ enquete['statut'] }}</p>
            <a href="{{ url_for('modifier_enquete', enquete_id=loop.index0) }}">Modifier</a>
        </div>
        <hr>
    {% endfor %}
    <a href="{{ url_for('create_enquete') }}">Créer une nouvelle enquête</a>
</body>
</html>
